@model IEnumerable<OnlineShop.Models.ProductTypes>
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary">Product Type List</h1>
            <a class="btn btn-sm btn-primary m-2" asp-controller="ProductTypes" asp-action="Create"> <i class="fa-sharp fa-solid fa-plus"></i>Add New Product</a>
                <table class="table table-success">
                    <tr class="text-center">
                        <th>Id</th>
                        <th>ProductType</th>
                        <th></th>
                        <th>Action</th>
                    </tr>
                    @foreach (var data in Model)
                    {
                        <tr class="text-center">
                            <td>@data.Id</td>
                            <td>@data.ProductType</td>
                            <td>
                            <partial name="_ButtonPartial" model="@data.Id" />
                            </td>
                        </tr>
                    }
                </table>
        </div>
    </div>
</div>

@section scripts{

    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["Save"]'
            if(save != null){
               alertify.success(save);
            }
        }); 
    </script>

    <script type="text/javascript">
        $(function(){
            var update = '@TempData["update"]'
            if (update != null) {
                alertify.success(update);
            }
        }); 
    </script>

    <script type="text/javascript">
        $(function(){
            var delete = '@TempData["delete"]'
            if (delete != null) {
                alertify.success(delete);
            }
        }); 
    </script>
}      

@*<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary">ProductType list</h1>
                <a class="btn btn-sm btn-primary m-2" asp-controller="ProductTypes" asp-action="Create">Create Product Type</a>
                <table class="table table-dark">
                    <tr class="text-center">
                        <th>@Html.DisplayNameFor(e=>e.ProductType)</th>
                        <th>Action</th>
                    </tr>
                    @foreach (var data in Model)
                    {
                        <tr class="text-center">
                            <td>@data.ProductType</td>
                            <td>Edit | Details | Delete</td>
                        </tr>
                    }
                </table>
        </div>
    </div>
</div>*@



